.card {
  width: 100%;
  height: 200px;
  background: #243137;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.border {
  position: absolute;
  inset: 0px;
  border: 2px solid #bd9f67;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
  z-index: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adjust spacing between text and icons */
  color: #bd9f67;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.details {
  position: absolute;
  width: calc(100% - 2rem);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.card:hover .border {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.card:hover .title {
  transform: translateY(-60px);
}

.card:hover .details {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.button-container {
  position: absolute;

  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.button {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  color: #243137;
  background-color: #bd9f67;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #a6884e;
  color: #fff;
}

.card:hover .button-container {
  visibility: visible;
}
